name: Generate Grading Report

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          # Проверяем наличие requirements.txt
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          python -m textblob.download_corpora
      - name: Run grading
        run: |
          # Добавляем текущую папку в пути поиска модулей
          export PYTHONPATH="${PYTHONPATH}:$(pwd)"
          python scripts/generate_report.py
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: results
          path: grading_report.csv
